# Fișiere generate automat
*.iml
.idea/
.gradle/
build/
captures/
.externalNativeBuild/

# Configurații locale
local.properties

# Fișiere de ieșire
*.apk
*.dex
*.log
*.cxx
*.so

# Fișiere cache sau temporare
*.temp
*.tmp
*.lock
